.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  justify-self: flex-start;
  min-width: 0;
}
@media (max-width: 1800px) {
  .root {
    background: var(--token-jgohepLVeKvh);
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  padding: 5px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 1800px) {
  .freeBox {
    background: none;
  }
}
.text__kWvhV {
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  flex-shrink: 0;
}
@media (max-width: 1800px) {
  .text__kWvhV {
    color: var(--token-_Z-x7YSfdB4D);
  }
}
@media (max-width: 768px) {
  .text__kWvhV {
    width: auto;
    font-size: 12px;
  }
}
.text__e1ZrQ {
  position: relative;
  margin-left: calc(5px + 5px) !important;
  color: var(--token-_Z-x7YSfdB4D);
  background: none;
  font-weight: 700;
  font-size: 12px;
  padding: 4px 5px;
}
.img__oDyDd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  margin-left: calc(40px + 5px) !important;
  flex-shrink: 0;
}
.img__oDyDd > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__oDyDd {
    margin-left: calc(5px + 5px) !important;
  }
}
.text__uFtA1 {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  flex-shrink: 0;
}
@media (max-width: 1800px) {
  .text__uFtA1 {
    color: var(--token-_Z-x7YSfdB4D);
  }
}
@media (max-width: 768px) {
  .text__uFtA1 {
    width: auto;
    font-size: 12px;
  }
}
.text___6Ak9J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-41VRhDKfihhY);
  padding: 8px;
}
@media (max-width: 1800px) {
  .text___6Ak9J {
    color: var(--token-_Z-x7YSfdB4D);
    font-weight: 700;
  }
}
@media (max-width: 768px) {
  .text___6Ak9J {
    font-size: 14px;
    display: none;
    padding: 0px;
  }
}
.text__rhWYp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  padding-left: 5px;
  color: var(--token-jgohepLVeKvh);
  font-weight: 800;
}
@media (max-width: 1800px) {
  .text__rhWYp {
    color: var(--token-_Z-x7YSfdB4D);
  }
}
@media (max-width: 768px) {
  .text__rhWYp {
    font-size: 14px;
    display: none;
  }
}
.img__bzOLj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__bzOLj > picture > img {
  object-fit: cover;
}
.img__dlHuV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  flex-shrink: 0;
}
.img__dlHuV > picture > img {
  object-fit: cover;
}
