.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/proliga/images/footballStadiumWpbk2E4Mrt3Gz1Mzjpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__zJXxL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.searchComponent:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.stadion {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-OthO-wlH0yMz);
  min-width: 0;
  padding: 8px;
}
.freeBox___3JtsZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.teamInfo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-OthO-wlH0yMz);
  min-width: 0;
  padding: 8px;
}
.teamInfo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.teamInfo > :global(.__wab_flex-container) > *,
.teamInfo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.teamInfo > :global(.__wab_flex-container) > picture > img,
.teamInfo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.text__l9Km6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 25px;
  font-family: "Judson", serif;
}
.text__sE4SN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 25px;
  font-family: "Judson", serif;
}
.text___0Xzpm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 25px;
  font-family: "Judson", serif;
}
.goa {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 66px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__aPb5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.avatarPlayer:global(.__wab_instance) {
  max-width: 100%;
}
.def {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 117px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.def > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.def > :global(.__wab_flex-container) > *,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.def > :global(.__wab_flex-container) > picture > img,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox___4QjEq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayer2:global(.__wab_instance) {
  max-width: 100%;
}
.mid {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 176px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.mid > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.mid > :global(.__wab_flex-container) > *,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mid > :global(.__wab_flex-container) > picture > img,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__hYu4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayer3:global(.__wab_instance) {
  max-width: 100%;
}
.str {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 246px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.str > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.str > :global(.__wab_flex-container) > *,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.str > :global(.__wab_flex-container) > picture > img,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__we8EE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayer4:global(.__wab_instance) {
  max-width: 100%;
}
.soccerPlaceMens2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  z-index: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.column__qdqiz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-OthO-wlH0yMz);
  min-width: 0;
  padding: 8px;
}
.column__qdqiz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__qdqiz > :global(.__wab_flex-container) > *,
.column__qdqiz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__qdqiz > :global(.__wab_flex-container) > picture > img,
.column__qdqiz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.messageCard__ba79A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.messageCard__ljhfi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.messageCard__ii39S:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.column__rzO2Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: var(--token-OthO-wlH0yMz);
  min-width: 0;
  padding: 8px;
}
.playerList {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.playerList > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.playerList > :global(.__wab_flex-container) > *,
.playerList > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.playerList > :global(.__wab_flex-container) > picture > img,
.playerList
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__cmc0E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sNwes {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__bwYlu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__bwYlu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__bwYlu > :global(.__wab_flex-container) > *,
.freeBox__bwYlu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bwYlu > :global(.__wab_flex-container) > picture > img,
.freeBox__bwYlu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__uEab {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__uEab > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__uEab > :global(.__wab_flex-container) > *,
.freeBox__uEab > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uEab > :global(.__wab_flex-container) > picture > img,
.freeBox__uEab
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.tabButton___8WgZq:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__yo52F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__a9QYe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__inl2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__bo5Tu:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.text__chIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__p0Ies {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__d0Co {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__i8Tmg:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__ecbBw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg___0SrY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jN4Ti {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: #7777ff;
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zRgVw {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.tabContent__f2D3P:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__cUkzP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cUkzP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__cUkzP > :global(.__wab_flex-container) > *,
.freeBox__cUkzP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUkzP > :global(.__wab_flex-container) > picture > img,
.freeBox__cUkzP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.playerPicker__nhwaM:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.pagination:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-OthO-wlH0yMz);
  font-size: 16px;
  text-align: left;
  font-style: normal;
  user-select: text;
  white-space: pre-wrap;
  font-weight: 500;
  color: #535353;
}
.tabContent__q7Akf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.freeBox___0Vd6E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___0Vd6E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox___0Vd6E > :global(.__wab_flex-container) > *,
.freeBox___0Vd6E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Vd6E > :global(.__wab_flex-container) > picture > img,
.freeBox___0Vd6E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__odpu9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__odpu9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__odpu9 > :global(.__wab_flex-container) > *,
.freeBox__odpu9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__odpu9 > :global(.__wab_flex-container) > picture > img,
.freeBox__odpu9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__olJ1V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.text__psNy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.playerPicker__nM98Y:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.pagclubtab:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-OthO-wlH0yMz);
  font-size: 16px;
  text-align: left;
  font-style: normal;
  user-select: text;
  white-space: pre-wrap;
  font-weight: 500;
  color: #535353;
}
.tabContent__kiEyj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__jrCwV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jrCwV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.freeBox__jrCwV > :global(.__wab_flex-container) > *,
.freeBox__jrCwV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jrCwV > :global(.__wab_flex-container) > picture > img,
.freeBox__jrCwV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 2px;
}
.freeBox__c7Xq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__b0Rjp {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  align-self: center;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.playerPicker__q1UHm:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.pagpostab:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: var(--token-OthO-wlH0yMz);
  font-size: 16px;
  text-align: left;
  font-style: normal;
  user-select: text;
  white-space: pre-wrap;
  font-weight: 500;
  color: #535353;
}
.playerPickerRow:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
