.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-self: flex-start;
  background: var(--token-Le07ngBUPl2h);
  min-width: 0;
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 15px;
}
.text__vkwbp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-size: 10px;
  min-width: 0;
}
.text___7Pmh5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
}
.text___2PJjK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.text__scVzY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.text__ibl8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.checkBuy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.minusBalance {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__yRiRx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__yRiRx > picture > img {
  object-fit: cover;
}
.buy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__xghAn {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__xghAn > picture > img {
  object-fit: cover;
}
.buySell {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__gc0Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__gc0Y > picture > img {
  object-fit: cover;
}
