.root {
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-OthO-wlH0yMz);
  position: relative;
  justify-self: flex-start;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.text__kyuHu {
  position: relative;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
  font-weight: 600;
  font-size: 32px;
}
.text__jNioD {
  position: relative;
  text-align: left;
  color: var(--token-jgohepLVeKvh);
  font-weight: 600;
}
.text___7LM1F {
  position: relative;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 500;
}
.freeBox__l9Qpx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text___6Kw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 500;
  min-width: 0;
}
.text___6UPxY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  font-weight: 900;
  text-align: center;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-jgohepLVeKvh);
}
.pcls_IKzVy0qaIxOB {
  background: var(--token-LqtA0Zd3XkIQ);
  outline: none;
}
.modal__modal :global(.ant-modal-close) {
  color: #e21c1c;
  background: #1a1717;
  outline: none;
}
.freeBox__t9HeJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-41VRhDKfihhY);
  background: none;
}
.text__ambcY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: var(--token-w7ybUCajlWG4);
  background: none;
  min-width: 0;
}
.updateCapitan:global(.__wab_instance) {
  position: relative;
}
