.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  background: none;
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 1s;
  cursor: default;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__cfuKp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
  left: 1px;
  top: 2px;
}
.img__cfuKp > picture > img {
  object-fit: cover;
}
.freeBox__hmmVi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__a9SuT {
  max-width: 100%;
}
.img___8NZd {
  max-width: 100%;
}
.freeBox__ieZeG {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ieZeG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__ieZeG > :global(.__wab_flex-container) > *,
.freeBox__ieZeG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ieZeG > :global(.__wab_flex-container) > picture > img,
.freeBox__ieZeG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.img___54Pea {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img___54Pea > picture > img {
  object-fit: cover;
}
