.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/proliga/images/footballStadiumWpbk2E4Mrt3Gz1Mzjpg.jpg") top 50% left 50% / cover repeat;
  grid-row-gap: 5px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.userteamNavbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ntysc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  background: var(--token-OthO-wlH0yMz);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox___6G0BW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__lhpSo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.tabButton:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.link {
  display: flex;
}
.text__s9Tb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__c1Abb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hdSWv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: #7777ff;
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox___818AW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.tabContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.columns {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 568px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xIzD8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__hHx9J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.goa {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  left: 1px;
  top: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox___9Rsg4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayerShowScore___1QvI:global(.__wab_instance) {
  max-width: 100%;
}
.def {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 105px;
  min-width: 0;
  padding: 0px;
}
.def > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.def > :global(.__wab_flex-container) > *,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.def > :global(.__wab_flex-container) > picture > img,
.def > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__vgv7L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayerShowScore__q4Dev:global(.__wab_instance) {
  max-width: 100%;
}
.mid {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 208px;
  min-width: 0;
  padding: 0px;
}
.mid > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.mid > :global(.__wab_flex-container) > *,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.mid > :global(.__wab_flex-container) > picture > img,
.mid > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__vs9BU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayerShowScore__wpSmV:global(.__wab_instance) {
  max-width: 100%;
}
.str {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  left: 0px;
  top: 313px;
  min-width: 0;
  padding: 0px;
}
.str > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.str > :global(.__wab_flex-container) > *,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.str > :global(.__wab_flex-container) > picture > img,
.str > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
.freeBox__myCbF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.avatarPlayerShowScore___5SAiB:global(.__wab_instance) {
  max-width: 100%;
}
.soccerPlaceMens2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  z-index: 0;
}
.column__gIpSa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.text__a3ShG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
